In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('lap.csv')

In [5]:
df.head()

   Unnamed: 0  name  Win
0           0  Yosi    0
1           1  Yosi    0
2           2  Yosi    0
3           3  Yosi    1
4           4   Uri    1

In [6]:
b = list(a) + [1]*4

NameError: name 'a' is not defined

In [7]:
df.groupby('name').mean()

      Unnamed: 0   Win
name
Uri         13.5  0.65
Yosi         1.5  0.25